<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>grupos</servlet-name>
        <servlet-class>catalogos.grupos.GruposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarGrupo</servlet-name>
        <servlet-class>catalogos.grupos.AgregarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarGrupo</servlet-name>
        <servlet-class>catalogos.grupos.BorrarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarGrupo</servlet-name>
        <servlet-class>catalogos.grupos.CambiarGrupoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarAlumno</servlet-name>
        <servlet-class>catalogos.alumnos.AgregarAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarAlumno</servlet-name>
        <servlet-class>catalogos.alumnos.BorrarAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlumno</servlet-name>
        <servlet-class>catalogos.alumnos.ModificarAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAlumnos</servlet-name>
        <servlet-class>catalogos.alumnos.MostrarAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaDatoInteres</servlet-name>
        <servlet-class>catalogos.datos_interes.AgregaDatoInteresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraDatosInteres</servlet-name>
        <servlet-class>catalogos.datos_interes.MuestraDatosInteresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaTipoDato</servlet-name>
        <servlet-class>catalogos.datos_interes.AgregaTipoDatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorraTipoDato</servlet-name>
        <servlet-class>catalogos.datos_interes.BorraTipoDatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorraDatoInteres</servlet-name>
        <servlet-class>catalogos.datos_interes.BorraDatoInteresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaDatoInteres</servlet-name>
        <servlet-class>catalogos.datos_interes.ModificaDatoInteresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaDatoInteres</servlet-name>
        <servlet-class>catalogos.datos_interes.BuscaDatoInteresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroRedesSociales</servlet-name>
        <servlet-class>catalogos.redes_sociales.RegistroRedesSocialesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaRedesSociales</servlet-name>
        <servlet-class>catalogos.redes_sociales.ModificaRedesSocialesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaGrupos</servlet-name>
        <servlet-class>catalogos.redes_sociales.BuscaGruposServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaCortes</servlet-name>
        <servlet-class>catalogos.cortes.BuscaCortesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaNosLista</servlet-name>
        <servlet-class>catalogos.listas.BuscaNosListaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>grupos</servlet-name>
        <url-pattern>/grupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarGrupo</servlet-name>
        <url-pattern>/agregarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarGrupo</servlet-name>
        <url-pattern>/borrarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarGrupo</servlet-name>
        <url-pattern>/cambiarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarAlumno</servlet-name>
        <url-pattern>/agregarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarAlumno</servlet-name>
        <url-pattern>/borrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlumno</servlet-name>
        <url-pattern>/modificarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAlumnos</servlet-name>
        <url-pattern>/mostrarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaDatoInteres</servlet-name>
        <url-pattern>/agregaDatoInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraDatosInteres</servlet-name>
        <url-pattern>/muestraDatosInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaTipoDato</servlet-name>
        <url-pattern>/agregaTipoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraTipoDato</servlet-name>
        <url-pattern>/borraTipoDato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorraDatoInteres</servlet-name>
        <url-pattern>/borraDatoInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaDatoInteres</servlet-name>
        <url-pattern>/modificaDatoInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaDatoInteres</servlet-name>
        <url-pattern>/buscaDatoInteres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroRedesSociales</servlet-name>
        <url-pattern>/registroRedesSociales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaRedesSociales</servlet-name>
        <url-pattern>/modificaRedesSociales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaGrupos</servlet-name>
        <url-pattern>/buscaGrupos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaCortes</servlet-name>
        <url-pattern>/buscaCortes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaNosLista</servlet-name>
        <url-pattern>/buscaNosLista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/saes</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
